@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSansBold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSansRegular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSansSemiBold'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    --color1: #9873FF;
    --color2: #fFF;
    --color3: #F5F5F5;
    --color4: #C8C5D1;
    --color5: #B0B0B0;
    --color6: #333333;
    --color7: #F06A4D;
    --color8: #E7E5EB;
    --color9: #F4F3F6;
    --color10: #e5e5e5;
    --color11: #8052FF;
    --font: 'Open Sans';
}

html {
    font-family: var(--font);
    color: var(--color6);
    background-color: var(--color10);
}


button, input, optgroup, select, textarea {
    font-family: var(--font);
    outline: none;
}

button {
    cursor: pointer;
}

input:focus-within {
    transition: border .2s ease-in-out;
    border-color: var(--color1);
    color: var(--color6);
}

* {
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

:focus {
    outline: 2px solid var(--color1);
    border-radius: 2px;
}

:active {
    outline: none;
}


.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    overflow-y: auto;

}

.modal__back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.modal__form {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 400px;
    padding: 24px 30px;
    background-color: white;

}

.form__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 26px;
}

.form__id {
    position: absolute;
    top: 33px;
    left: 213px;
    font-size: 12px;
    line-height: 12px;
    color: var(--color4);
}

.form__top {

    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form__label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form__label:not(:last-child) {
    margin-bottom: 26px;
}

.form__input {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 0;

    border-bottom: 1px solid var(--color4);

}

.form__input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--color5);

}


.form__middle {
    margin: 0 -30px 24px;

    background-color: var(--color9);
}

.form__add {
    height: 35px;
    width: 100%;
    transition: background .2s ease-in-out;
}

.form__add:hover {
    background-color: var(--color4);
}

.form__add:active {
    background-color: var(--color5);

}

.form__add-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color6);
    padding-left: 21px;
    background: no-repeat left / contain url('../img/plus.svg');
}

.form__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__save {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 44px;
    padding-top: 3px;
    font-weight: 600;
    color: var(--color2);
    font-size: 14px;
    line-height: 19px;
    background: var(--color1);

    margin-bottom: 8px;
    transition: background .2s ease-in-out;
}

.btn-loading {
    position: absolute;
    top: calc(50% - 7px);
    left: 16px;
    width: 16px;
    height: 16px;
    background: no-repeat center/cover url('../img/btn-loading.svg');
    animation: spinner reverse .5s linear infinite;
}

.form__save:hover {
    background: var(--color11);
}

.form__save:active {
    transform: translateY(1px);
}

.form__cancel {
    position: relative;
    font-size: 12px;
    line-height: 12px;
    color: var(--color6);
    padding: 0;
    border-bottom: 1px solid var(--color6);
    transition: color .2s ease-in-out, border .2s ease-in-out;
}

.form__cancel::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 150%;
    height: 170%;
    background: var(--color4);
    opacity: 0.8;
    border-radius: 100%;
    transform: scale(0) translate(-50%, -50%);
    transition: transform 0.2s ease-in-out 0s;
}

.form__cancel:hover:after {
    transform: scale(1) translate(-50%, -50%);
}

.form__cancel:hover {
    color: var(--color2);
    border-color: var(--color2);
}

.form__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: no-repeat center/contain url('../img/modal-close.svg');
    transition: background .2s ease-in-out;

}

.form__close::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--color4);
    opacity: .8;
    border-radius: 100%;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.form__close:hover:after {
    transform: scale(1);
}

.form__close:hover {
    background-image: url('../img/modal-close-hover.svg')
}

.form__close:active:after {
    opacity: 1;

}

.form__input-heading {
    font-size: 12px;
    line-height: 12px;
    color: var(--color4);
    margin-top: -10px;
}

.star {
    color: var(--color1);
    position: absolute;
}

#star-1 {
    top: 8px;
    left: 62px;
}

#star-2 {
    top: 8px;
    left: 28px;
}

#star-3 {
    display: none;
}

.copy-btn {
    position: absolute;
    right: 2px;
    bottom: 1px;
    width: 30px;
    height: 30px;
    background: no-repeat center/ 18PX url('../img/copy.svg');
    border-radius: 100%;

}

.copy-btn.copy::after {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color4);
    transform: scale(0);
    transition: transform .2s ease-in-out;
    opacity: .7;
    border-radius: 100%;
}

.copy-btn.copy:hover:after {
    transform: scale(1);
}

.copy-btn.copy:active:after {
    background: var(--color5);
}

.contact__close.copy {
    background-image: url('../img/copy.svg');
    background-size: 18px;
}

.contact__close.copy:hover, .contact__type.copy:hover {

    background: no-repeat center/ 18px url('../img/copy.svg') var(--color4);
}

.contact__close.copy:active, .contact__type.copy:active {

    background: no-repeat center/ 18px url('../img/copy.svg') var(--color5);
    transition-duration: 0s;
}

.contact__type.copy {

    width: 27px;
    background: no-repeat center / contain url('../img/copy.svg') var(--color8);
    background-size: 18px;

}



#add-changes-star-1 {
    top: -11px;
    left: 54px;
    font-size: 12px;
}

#add-changes-star-2 {
    top: -11px;
    left: 25px;
    font-size: 12px;
}

.contact {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 37px;
    margin: 0 30px 15px;
}

.contact:first-child {
    margin-top: 27px;
}

.contact__type {
    position: relative;
    text-align: start;
    padding-left: 11px;
    font-size: 12px;
    line-height: 16px;
    width: 123px;
    background: var(--color8);
    border: 1px solid var(--color4);
    border-right: none;
    transition: background .2s ease-in-out;
}

.contact__type:hover, .choice-btn:hover {
    background: var(--color4)
}

.contact__type:active, .choice-btn:active {
    background-color: var(--color5)
}

.arrow-only {
    width: 28px;
    border-left: none;
}

.contact__input {

    flex-grow: 1;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    padding-left: 11px;
    padding-bottom: 2px;
    border: 1px solid var(--color4);
}



.contact__close {
    width: 27px;
    background: no-repeat center / contain url('../img/contact-close.svg') var(--color8);
    background-size: 16px;
    border: 1px solid var(--color4);
    border-left: none;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.contact__close:hover {
    background: no-repeat center / contain url('../img/contact-close-hover.svg') var(--color4);
    background-size: 16px;

}

.contact__close:active {
    background-color: var(--color5)
}

.contact__arrow {
    pointer-events: none;
    z-index: 90;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 13px;
    left: 102px;
    background: no-repeat center / contain url('../img/contact-arrow.svg');
}

.contact__choices-list {
    z-index: 100;
    visibility: hidden;
    position: absolute;
    width: 123px;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color4);
    border-top: none;
}

.choice-btn {
    text-align: start;
    padding-left: 11px;
    font-size: 12px;
    line-height: 25.5px;
    background: var(--color9);
}

.contact__choices-list .choice-btn:first-child {
    height: 35px;
    padding-top: 6px;
}

.contact__choices-list .choice-btn:last-child {
    height: 35px;
    padding-bottom: 7px;
}

.open-choices {
    visibility: visible;
}

.arrow-top {
    transform: rotate(180deg);
}

.contact__another-input {
    padding-left: 11px;
    font-size: 12px;
    line-height: 16px;
    width: 95px;
    border: 1px solid var(--color4);

}

.contact__another-input::placeholder {
    overflow: visible;
    font-size: 10px;
    line-height: 10px;
    vertical-align: bottom;
    padding: 0;

}

.search__input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    max-width: 580px;
    height: 44px;
    padding-left: 16px;
    flex-grow: 1;
}

.search__input::placeholder {
    color: var(--color5);
    font-size: 14px;
    line-height: 19px;
}

.search {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color2);
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.container {
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
}


.search .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search__logo {
    width: 50px;
    height: 50px;
    background: no-repeat center / contain url('../img/logo.svg');
    margin-right: 53px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    transition: box-shadow .2s ease-in-out;
}

.search__logo:hover {
    box-shadow: 0px 0px 27.0904px var(--color1), 0px 0px 5.64383px var(--color1);
}

.search__logo:active {
    outline: 2px solid var(--color1);
}

.search__advice-list {
    position: absolute;
    top: 67px;
    left: 123px;
    width: 580px;
    visibility: hidden;
}

.search__advice-list.searching {
    visibility: visible;

}

.advice-list__body {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: var(--color3);
}

.advice-list__item {
    text-align: start;
    padding: 10px 16px 10px;
    transition: background .2s ease-in-out;
}

.advice-list__item:focus {
    background-color: var(--color8);

}

.advice-list__item:hover {
    background-color: var(--color8);
}

.search__empty-error {
    position: absolute;
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: var(--color5);
    top: 69px;
    left: 123px;
}


.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 130px 0 10px;
}

.column-top {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--color5);
    vertical-align: bottom;
    text-align: start;
    overflow: hidden;
    transition: color .2s ease-in-out;
}

.column-top:not(#column-top-5, #column-top-6) {
    padding-bottom: 3px;

}

#column-top-6 {
    padding-left: 4px;
}

.column-top::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: var(--color5);
    transform: translateX(-100%);
    transition-property: transform, background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}


.column-top:hover:after {
    transform: translateX(0);
    background-color: var(--color1);
}

.column-top:not(#column-top-5, #column-top-6):hover {
    color: var(--color1);

}

#column-top-5::after, #column-top-6::after {
    background: none;
}

.alphabet {
    color: var(--color1);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    margin-left: 2px;
}

.arrow {
    margin-left: 4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: no-repeat center/contain url('../img/table-arrow.svg');
}

.arrow-down {
    transform: rotate(180deg);
}



#column-top-3, #column-top-4 {
    width: 82px;
}



.table__body {
    position: relative;
    min-height: 300px;
    background: var(--color2);

}

.table__row {
    position: relative;
    height: 60px;
}

.table__row::before {
    z-index: 0;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--color4);
    opacity: 0.5;

}

.link {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: -34px;
    transform: translateX(-50%);
    overflow: hidden;
}

.link-body {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color1);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 2px 20px 8px;
}

.link-body.openning {
    animation: openLink .3s ease-in-out;
}

.link-body.closing {
    animation: openLink .3s reverse ease-in-out;

}

.link-description {
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    color: var(--color2);
    font-weight: 500;
    margin-right: 5px;
}

.link-input {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    padding: 0 2px;
    background: var(--color2);
    border-radius: 2px;
    transform: translateY(2px);
}

.link-btn {
    margin-left: 10PX;
    padding: 5px 10px 3px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--color2);
    background: var(--color5);
    letter-spacing: 2px;
    border-radius: 50px;
    transform: translateY(2px);
    transition: background .2s ease-in-out;
}

.link-btn:focus {
    outline-color: var(--color8);
}

.link-btn:hover {
    background: var(--color4);

}

.link-btn:active {
    transform: translateY(3px);
}

.table {
    position: relative;
    border-spacing: 0px;
    width: 100%;
}



.id-cell-body {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--color5);
    width: 100%;

    word-wrap: break-word;

}

.name-cell-body, [class*='create-date'], [class*='change-date'], [class*='doing-btn'] {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
}

[class*='date-1'] {
    margin-right: 12px;
}

[class*='date-2'] {
    color: var(--color5);
}




.doing-btn-1 {
    background: no-repeat bottom 8px left 2px/ 15px url('../img/edit.svg');
    margin-right: 10px;
}


.doing-btn-2 {
    background: no-repeat bottom 7px left / 15px url('../img/delete.svg');
}

.doing-btn-1:hover {
    color: var(--color1);
}

.doing-btn-2:hover {
    color: var(--color7);
}

[class*="doing-btn"] {
    position: relative;
    overflow: hidden;
    padding-bottom: 4px;
    padding: 4px 0 4px 17px;
    transition: color .2s ease-in-out;
}

[class*="doing-btn"]::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: var(--color5);
    transform: translateX(100%);
    transition-property: transform, background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}



[class*="doing-btn"]:hover:after {
    transform: translateX(0);
    background-color: var(--color1);
}

.doing-btn-2:hover:after {
    transform: translateX(0);
    background-color: var(--color7);
}


.id-cell-body {
    width: 50px;
    height: 100%;
}


.table__head .table__top-cell:nth-child(2), .id-column {
    padding-left: 20px;
    padding-right: 10px;
}

.table__head .table__top-cell:nth-child(3), .name-column {
    width: 24%;
    padding-left: 10px;
    padding-right: 10px;
}

.name-column {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table__head .table__top-cell:nth-child(4), .create-column {
    width: 16%;
    padding-left: 6px;
    padding-right: 6px;
}

.table__head .table__top-cell:nth-child(5), .change-column {
    width: 15%;
    padding-left: 6px;
    padding-right: 6px;
}

.table__head .table__top-cell:nth-child(6), .contacts-column {
    width: 15%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;

}



.table__head .table__top-cell:nth-child(7), .doing-column {
    width: 22%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;

}

.contacts-column, .doing-column {
    padding-bottom: 0;
}


.contact-body {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.contact-body:not(:nth-child(5n)) {
    margin-right: 7px;
}

[class*='contact-icon'] {
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: .7;
    transition: opacity .2s ease-in-out;
}

.contact-body.hover [class*='contact-icon'] {
    opacity: 1;
}


.contact-body.mouseout [class*='contact-icon'] {
    animation: mouseout .25s alternate ease-in-out 1;
}

.phone-contact-icon {
    background: no-repeat center / contain url('../img/phone.svg');
}

.email-contact-icon {
    background: no-repeat center / contain url('../img/mail.svg');
}

.vk-contact-icon {
    background: no-repeat center / contain url('../img/vk.svg');
}

.facebook-contact-icon {
    background: no-repeat center / contain url('../img/fb.svg');
}

.another-contact-icon {
    background: no-repeat center / contain url('../img/another-contact.svg');
}


.tooltip {
    z-index: 1000;
    position: absolute;
    bottom: 27px;
    right: 0;
    display: flex;
    padding: 7px 18px;
    visibility: hidden;
    color: var(--color3);
    background-color: var(--color6);
    font-size: 12px;
    line-height: 16px;
    transform: translateX(calc(50% - 8px));
}

.tooltip::after {
    position: absolute;
    bottom: -8px;
    right: calc(50% - 4px);
    content: '';

    border-top: 8px solid var(--color6);
    border-bottom: 0px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

}

.tooltip::before {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    height: 52px;
    left: 50%;
    bottom: -27px;
    border-radius: 100%;

    transform: translateX(-50%);
}

.tooltip.openning {
    animation: tooltip .2s alternate ease-out 1;
}

.tooltip.closing {
    animation: tooltip .25s reverse ease-in 1
}

.contact-type {
    z-index: 100;
    white-space: nowrap;
    color: var(--color5);
    margin-right: 4px;
}

.contact-value {
    z-index: 100;

    font-weight: bold;
    color: var(--color2);
}

.tooltip.visible {
    visibility: visible;
}

.more-contact-icon {
    pointer-events: auto;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    padding: 0 1px 1px 0;
    border: 1px solid var(--color1);
    border-radius: 100px;
    transition-property: color, background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.more-contact-icon:hover {
    color: var(--color4);
    background-color: var(--color1);
}

.contacts-cell-body {
    display: flex;

    flex-wrap: wrap;
    width: 120px;
}

.table__top-cell {
    vertical-align: bottom;
    text-align: start;
    padding-bottom: 6px;
}

.doing-cell-body {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
}

.add-btn {
    display: block;
    margin: 40px auto 100px;
    width: 216px;
    height: 44px;
    border: 1px solid var(--color1);
    color: var(--color1);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-left: 30px;
    background: no-repeat center left 26px / 22px 16px url('../img/plus-client.svg');
    transition-property: background, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.add-btn:hover {
    background-image: url('../img/plus-client-hover.svg');
    background-color: var(--color1);
    color: var(--color2);
}

.modal.delete .form__title {
    margin-left: auto;
    margin-right: auto;
}

.modal.delete .form__confirm {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 275px;
}

.modal.delete .modal__form {

    min-height: 215px;
}

.modal.delete .form__title {
    margin-bottom: 11px;
}

.modal.delete .form__confirm {
    margin-bottom: 25px;
}

.scroll-prohibited {
    overflow-y: hidden;

}

.form__error {
    margin-top: -16px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error__line {
    color: var(--color7);
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
}

.input-error {
    box-shadow: inset 0px 0px 8px var(--color7);
}

.input-error:focus-within {
    border-color: var(--color7);

}

.form__input.input-error {
    padding: 6px 10px;
    margin: 0 -10px;
    box-shadow: inset 0px 0px 8px var(--color7);
    border-radius: 10px;
}

.open-animation .modal__form {
    animation: open .5s alternate ease-out 1;
}

.open-animation {
    animation: opacity .5s alternate ease-out 1;
}

.close-animation .modal__form {
    animation: close .5s alternate ease-in 1;
}

.close-animation {
    animation: opacity .5s reverse ease-out 1;
    overflow: hidden;
}

.contact-value-link {
    z-index: 100;
    font-weight: 700;
    color: var(--color1);
    transition: color .2s ease-in-out;
    height: 100%;
}

.contact-value-link:hover {
    color: var(--color3);
}

[class*="doing-btn"]:active, .column-top:not(#column-top-5, #column-top-6):active {
    transform: translateY(1px);
}

.table__initial-body {
    height: 300px;
    position: relative;
    

} 



.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    overflow: hidden;
}

.table__initial-body .loading {
    background: var(--color2);
}

.spinner {
    width: 36px;
    height: 36px;
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);

    background: no-repeat center/contain url('../img/spinner.svg');
    animation: spinner reverse .5s linear infinite;
}

.wanted-client {
    box-shadow: inset 0 0 20px var(--color11);
}

@media (max-width: 800px) {


    .table__head .table__top-cell:nth-child(3), .name-column {
        width: 31%;

    }



    .table__head .table__top-cell:nth-child(2), .id-column {
        padding-left: 20px;
        padding-right: 5px;
    }

    .table__head .table__top-cell:nth-child(3), .name-column {
        width: 31%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .name-column {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .table__head .table__top-cell:nth-child(4), .create-column {
        width: 13%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .table__head .table__top-cell:nth-child(5), .change-column {
        width: 13%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .table__head .table__top-cell:nth-child(6), .contacts-column {
        width: 15%;
        padding-left: 9px;
        padding-right: 2px;
        padding-bottom: 8px;

    }



    .table__head .table__top-cell:nth-child(7), .doing-column {
        width: 17%;
        padding-left: 3px;
        padding-bottom: 8px;

    }

    .contacts-column, .doing-column {
        padding-bottom: 0;
    }

    .doing-cell-body {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 6px;
    }

    [class*="doing-btn"] {
        padding: 3px 0 3px 20px;
    }


    .doing-btn-1 {
        background: no-repeat bottom 6px left 4px/ 15px url(../img/edit.svg);
        margin-right: 0px;
    }

    .doing-btn-2 {
        background: no-repeat bottom 7px left 2px/ 15px url(../img/delete.svg);
    }

    .container {
        margin: 0;
        max-width: none;
        width: 768px;
    }


}

@media (max-width: 500px) {
    .search__input {
        position: absolute;
        visibility: hidden;
    }

    .search .container {
        justify-content: center;
        height: 40px;
        padding: 0;
    }

    .search__logo {
        position: fixed;
        top: 8px;
        left: calc(50vw - 12px);
        width: 24px;
        height: 24px;
        margin: 0;
    }

    .modal__form {
        width: 300px;
        padding: 24px 15px;
    }


    .form__close {
        top: 3px;
        right: 3px;
    }

    .form__id {
        display: block;
        top: 52px;
        left: 145px;
    }

    .form__middle {
        margin: 0 -15px 24px;
    }

    .contact {
        margin: 0 15px 15px;
    }

    .contact:first-child {
        margin-top: 25px;
    }

    .contact__type {
        width: 110px;
    }

    .contact__input {
        flex-grow: 0;
        max-width: 133px;
    }

    .contact__type.arrow-only {
        width: 25px;
    }

    .contact__another-input {
        width: 85px;
    }

    .contact__arrow {
        left: 92px;
    }

    .modal.change-modal .form__add {
        margin: 15px 0;
        height: 40px;
    }

    .title {
        font-size: 18px;
        line-height: 25px;
        margin: 70px 0 10px;
    }
    .spinner {
        position: fixed;
       
    }

}




@keyframes open {
    from {
        transform: perspective(600px) translate(0, -100%) rotateX(-60deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate(0px, 0px) rotateX(0);
        opacity: 1;
    }
}

@keyframes close {
    from {
        transform: perspective(600px) translate(0, 0) rotateX(0);
        opacity: 1;
    }

    to {
        transform: perspective(600px) translate(0px, 100%) rotateX(60deg);
        opacity: 0;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tooltip {
    from {
        bottom: 27px;
        right: 0;
        transform: translateX(calc(50% - 8px)) translateY(-100%);
        opacity: 0;
    }

    to {
        bottom: 27px;
        right: 0;
        transform: translateX(calc(50% - 8px)) translateY(0);
        opacity: 1;
    }
}

@keyframes mouseout {
    from {
        opacity: 1;
    }

    to {

        opacity: .7;
    }
}

@keyframes openLink {
    from {
        transform: translateY(-100%) scaleY(0);
    }

    to {

        transform: translateY(0) scaleY(1);
    }
}

@keyframes spinner {
    from {
        transform: rotate(180deg);
    }

    to {

        transform: rotate(-180deg);
    }
}